[Unit]
Description=Boundary @worker or @controller or just @boundary service.

[Service]
ExecStart=/usr/bin/boundary server -config /etc/boundary.d/%i.hcl
User=boundary
Group=boundary
LimitMEMLOCK=infinity
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK

[Install]
WantedBy=multi-user.target
