[Unit]
Description=Consul secret management tool
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=consul
Group=consul
ExecStart=/bin/consul agent -config-dir=/etc/consul.d/
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
