[Unit]
Description=TFC Agent
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/tfc-agent.conf
User=tfc-agent
Group=tfc-agent
ExecStart=/usr/bin/tfc-agent -token $TFC_AGENT_TOKEN -name $TFC_AGENT_NAME -address $TFC_AGENT_ADDRESS
ExecReload=/bin/kill -s HUP $MAINPID
LimitMEMLOCK=infinity
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
