[Unit]
Description=Vault secret management tool
After=syslog.target network.target local-fs.target remote-fs.target nss-lookup.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/vault.conf
User=vault
Group=vault
ExecStart=/usr/bin/vault $VAULT_ARGS
ExecReload=/bin/kill -s HUP $MAINPID
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
